:root {
  --color-lavender: #bd93f9;
  --color-tomato: #f56767;
  --color-lime: #00e988;
  --color-blue: #00a0e9;
  --color-orange: #ffa500;
  --color-dark-gray: #282a36;
  --color-slate: #44475a;
  --color-light-gray: #f8f8f2;
  --color-white: #ffffff;
  --font-mono: 'Cascadia Code', monospace;
  --ui-radius: 0.4rem;
  --ui-glow: 0 0 0.8rem var(--color-lavender);
}
