:root {
  --color-lavender: #bd93f9;
  --color-tomato: #f56767;
  --color-lime: #00e988;
  --color-blue: #00a0e9;
  --color-dark-gray: #282a36;
  --color-slate: #44475a;
  --color-light-gray: #f8f8f2;
  --color-white: #ffffff;
  --font-mono: 'Cascadia Code', monospace;
}
